@charset "UTF-8";

/*
  @mixin & @extend
---------------------------------------------------- */

/*
  変数定義
---------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Wawati SC", "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF", "Hiragino Sans", "Yu Gothic UI", sans-serif;
}

.error {
  color: red;
  font-size: 1.5rem;
  text-align: center;
}

.red {
  color: red;
}

html {
  font-size: 62.5%;
}

/* footerをbottomに固定 / paddingとらす */

body {
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
  background: #fff9de;
}

body .main {
  padding-top: 120px;
  padding-bottom: 180px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

h1 {
  font-size: 7rem;
}

button {
  background: #ffffff;
  border-radius: 10px;
  border: 3px solid #757575;
  position: relative;
}

button:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button:after {
  position: relative;
  font-size: 1.5rem;
}

button:hover {
  transition: all 0.2s ease-out;
  background-color: #21ad77;
  color: #ffffff;
}

.btn.submit:before,
.btn.update:before {
  background: url(/images/bath-mark-light-blue.svg?95073becd21c770eb4cf38464b079b2b);
}

.btn.close:before {
  background: url(/images/bath-mark-gray.svg?f21a283e9d5afc696f1ad5c0d4e8de25);
}

.btn.dlt:before {
  background: url(/images/bath-mark-red.svg?7698424564974a20f3eaada0414ef632);
}

.main-submit-btn {
  padding: 12px 60px;
  width: 240px;
  margin: 0 auto;
}

@media screen and (max-width: 599px) {
  .main-submit-btn {
    width: 50%;
    padding: 12px 0;
  }
}

input,
select,
textarea {
  border-radius: 10px;
  border: solid 2px #dddddd;
  background: #ffffff;
  padding: 5px;
}

input,
select {
  height: 55px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media screen and (min-width: 1025px) {
  .tablet-block {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  .pc-block {
    display: none !important;
  }
}

/*// ==========================================================================
//  TOPページ
// ==========================================================================*/

/*// -----------------------------------------------------------------
//  first-block
// -----------------------------------------------------------------*/

.top-page {
  position: relative;
  margin-top: -120px;
  /* body .main のpaddingと同等に */
  margin-bottom: -80px;
  /* body .main のpaddingと同等に */
  height: 100vh;
  background-image: url(/images/OFLog-top-bg-woman.jpg?da085bce7d89f72d12966c9b6add61ea);
  background-size: cover;
  background-position: 70% 50%;
}

.top-page .top-container {
  width: 80%;
  margin: 0 auto;
}

.top-page .first-view {
  color: #ffffff;
  text-align: center;
  height: 100vh;
}

.top-page .first-view .title-block {
  position: absolute;
  top: 40%;
  left: 20%;
}

@media screen and (max-width: 1024px) {
  .top-page .first-view .title-block {
    top: 50%;
    left: 14%;
  }
}

@media screen and (max-width: 760px) {
  .top-page .first-view .title-block {
    left: 1%;
    top: 40%;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .top-page .first-view .title-block .logo {
    width: 200px;
  }
}

.top-page .first-view .btn-block {
  position: absolute;
  top: 70%;
  left: 20%;
  /* title-blockと揃える */
  display: flex;
  justify-content: space-around;
  width: 420px;
  /* title-blockと揃える */
}

@media screen and (max-width: 1024px) {
  .top-page .first-view .btn-block {
    top: 75%;
    left: 14%;
    /* title-blockと揃える */
    width: 350px;
    /* title-blockと揃える */
  }
}

@media screen and (max-width: 760px) {
  .top-page .first-view .btn-block {
    width: 100%;
    left: 1%;
    top: 70%;
  }
}

.top-page .main-text {
  font-size: 3rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
  .top-page .main-text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 760px) {
  .top-page .main-text {
    font-size: 2rem;
  }
}

.top-page .search-btn {
  position: relative;
  width: 150px;
  display: block;
  border-radius: 50%;
}

@media screen and (max-width: 1024px) {
  .top-page .search-btn {
    width: 100px;
  }
}

.top-page .search-btn .btn-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 3rem;
  white-space: nowrap;
  text-shadow: 3px 3px 1px #000;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 1024px) {
  .top-page .search-btn .btn-name {
    font-size: 2rem;
  }
}

.top-page .search-btn .bath-mark {
  border-radius: 50%;
}

/*// ==========================================================================
//  ユーザーフォーム（ログイン/ 新規登録 / ユーザー情報変更 / パスワード変更 / メールアドレス変更）
// ==========================================================================*/

.user-form {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .user-form {
    width: 80%;
  }
}

.user-form .title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.user-form .form {
  display: flex;
  flex-direction: column;
}

.user-form .list {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-form .list:last-of-type {
  margin-bottom: 50px;
}

@media screen and (max-width: 760px) {
  .user-form .list {
    flex-direction: column;
  }
}

.user-form .list .field-name {
  font-size: 1.4rem;
  display: inline-block;
  width: 25%;
}

@media screen and (max-width: 760px) {
  .user-form .list .field-name {
    width: 100%;
  }
}

.user-form .list .field {
  width: 70%;
  padding: 14px;
}

@media screen and (max-width: 760px) {
  .user-form .list .field {
    width: 100%;
  }
}

.user-form .list .select {
  width: 70%;
  padding: 10px;
}

@media screen and (max-width: 760px) {
  .user-form .list .select {
    width: 100%;
  }
}

.user-form.register .btn:after {
  content: "\767B\9332\3059\308B";
}

.user-form.login .btn:after {
  content: "\30ED\30B0\30A4\30F3";
}

.user-form.user-edit .btn:after {
  content: "\767B\9332\3059\308B";
}

.user-form.change-password .btn:after {
  content: "\5909\66F4\3059\308B";
}

.user-form.change-email .btn:after {
  content: "\5909\66F4\3059\308B";
}

.user-form .other-links {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  margin-top: 50px;
}

@media screen and (max-width: 599px) {
  .user-form .other-links {
    flex-direction: column;
    align-items: center;
  }
}

.user-form .other-links .link {
  color: #7edbe6;
  text-decoration: underline;
}

.user-form .other-links .link:hover {
  text-decoration: none;
}

@media screen and (max-width: 599px) {
  .user-form .other-links .link:first-child {
    margin-bottom: 20px;
  }
}

/*// ==========================================================================
//  sns
// ==========================================================================*/

.login .sns,
.register .sns {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

@media screen and (max-width: 1024px) {
  .login .sns,
  .register .sns {
    flex-direction: column;
  }
}

.login .sns .google,
.register .sns .google,
.login .sns .facebook,
.register .sns .facebook {
  border: 3px solid #757575;
  padding: 6px 30px;
  width: 250px;
  display: flex;
  align-items: center;
}

.login .sns .google:before,
.register .sns .google:before,
.login .sns .facebook:before,
.register .sns .facebook:before {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 10px;
}

.login .sns .google:hover,
.register .sns .google:hover,
.login .sns .facebook:hover,
.register .sns .facebook:hover {
  transition: all 0.2s ease-out;
  color: #ffffff;
}

.login .sns .google:before,
.register .sns .google:before {
  background: url(/images/google-icon.svg?4ae24f32d59e356c9bfac1482cd7c771);
}

.login .sns .google:hover,
.register .sns .google:hover {
  background: #ea4435;
}

@media screen and (max-width: 1024px) {
  .login .sns .google,
  .register .sns .google {
    margin-bottom: 10px;
  }
}

.login .sns .facebook:before,
.register .sns .facebook:before {
  background: url(/images/facebook-icon.svg?bd64f1a43f19189df89ddc00994d9f26);
}

.login .sns .facebook:hover,
.register .sns .facebook:hover {
  background: #1a77f2;
}

/*// ==========================================================================
//  マイページ
// ==========================================================================*/

/*// -----------------------------------------------------------------
//  user-info
// -----------------------------------------------------------------*/

.mypage {
  padding: 0 100px;
}

@media screen and (max-width: 760px) {
  .mypage {
    padding: 0;
    width: 90%;
    margin: 0 auto;
  }
}

.mypage .user-info {
  margin-bottom: 80px;
}

.mypage .user-info .basic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 760px) {
  .mypage .user-info .basic {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.mypage .person {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 760px) {
  .mypage .person {
    margin-bottom: 20px;
  }
}

.mypage .person .user-icon {
  width: 100px;
  margin-right: 20px;
}

.mypage .person .user-icon-img {
  width: 100px;
}

.mypage .person .name {
  font-size: 3rem;
}

@media screen and (max-width: 599px) {
  .mypage .person .name {
    font-size: 2rem;
  }
}

.mypage .person .key-img {
  width: 25px;
  margin-left: 20px;
}

.mypage .user-info .prefecture {
  font-size: 3rem;
  color: gray;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 760px) {
  .mypage .user-info .prefecture {
    margin-left: auto;
  }
}

@media screen and (max-width: 599px) {
  .mypage .user-info .prefecture {
    font-size: 2rem;
  }
}

.mypage .user-info .intro {
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  font-size: 1.8rem;
}

@media screen and (max-width: 1024px) {
  .mypage .user-info .intro {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .mypage .user-info .intro {
    font-size: 1.5rem;
  }
}

/*// -----------------------------------------------------------------
//  link-area
// -----------------------------------------------------------------*/

.mypage .link-area {
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
}

@media screen and (max-width: 1024px) {
  .mypage .link-area {
    font-size: 1.8rem;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 599px) {
  .mypage .link-area {
    font-size: 1.5rem;
  }
}

.mypage .link-area .btn {
  border: solid 2px #f99f48;
  border-radius: 20px;
  background: #f99f48;
  padding: 20px;
  color: #ffffff;
  width: 200px;
  text-align: center;
}

.mypage .link-area .btn:hover {
  background: #ffffff;
  color: #f99f48;
}

@media screen and (max-width: 1024px) {
  .mypage .link-area .btn:not(:last-child) {
    margin-bottom: 10px;
  }
}

/*// ==========================================================================
//  メール送信後画面 / 本登録完了画面
// ==========================================================================*/

.check-email,
.register-confirm {
  text-align: center;
}

.check-email .title,
.register-confirm .title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.check-email .text,
.register-confirm .text {
  font-size: 1.5rem;
}

/*// ==========================================================================
//  ユーザー編集ページ
// ==========================================================================*/

.user-edit .form .introduce {
  max-width: 70%;
  min-width: 70%;
  min-height: 80px;
}

@media screen and (max-width: 760px) {
  .user-edit .form .introduce {
    max-width: 100%;
    min-width: 100%;
  }
}

.user-edit .form .is-release {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
}

.user-edit .form .is-release label {
  display: flex;
  align-items: center;
}

.user-edit .choose-img .img-field {
  width: 70%;
}

@media screen and (max-width: 760px) {
  .user-edit .choose-img .img-field {
    width: 100%;
  }
}

/*// ==========================================================================
//  お気に入り
// ==========================================================================*/

.favorite .no-favorited {
  text-align: center;
  font-size: 1.8rem;
}

.favorite {
  width: 80%;
  margin: 0 auto;
}

/*// -----------------------------------------------------------------
//  favorite お気に入り一覧 お風呂
// -----------------------------------------------------------------*/

.favorite .bath .list .text-info .closing-day {
  text-align: center;
}

/*// ==========================================================================
//  投稿フォーム
// ==========================================================================*/

.post-form {
  width: 60%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .post-form {
    width: 80%;
  }
}

.post-form .title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.post-form .form {
  display: flex;
  flex-direction: column;
}

.post-form .list {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-form .list:last-of-type {
  margin-bottom: 50px;
}

@media screen and (max-width: 760px) {
  .post-form .list {
    flex-direction: column;
    align-items: flex-start;
  }
}

.post-form .choose-img .img-field {
  width: 80%;
}

@media screen and (max-width: 760px) {
  .post-form .choose-img .img-field {
    width: 100%;
  }
}

.post-form .list .field {
  width: 80%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 760px) {
  .post-form .list .field {
    width: 100%;
  }
}

.post-form .list .wide-field {
  min-width: 80%;
  max-width: 80%;
  min-height: 80px;
}

@media screen and (max-width: 760px) {
  .post-form .list .wide-field {
    min-width: 100%;
    max-width: 100%;
  }
}

.post-form .list .field-name {
  font-size: 1.5rem;
  display: inline-block;
  width: 20%;
}

@media screen and (max-width: 760px) {
  .post-form .list .field-name {
    width: 100%;
  }
}

.post-form .list .select-area {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 760px) {
  .post-form .list .select-area {
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .post-form .list .select-area {
    flex-wrap: wrap;
    height: 150px;
  }
}

.post-form .list .eval {
  width: 22%;
}

@media screen and (max-width: 599px) {
  .post-form .list .eval {
    width: 45%;
  }
}

.post-form .btn:after {
  content: "\767B\9332\3059\308B";
}

/*// ==========================================================================
//  投稿一覧
// ==========================================================================*/

.post-index {
  text-align: center;
}

/*//
//  title-block
// ---------------------------*/

.post-index .title-block {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
}

.post-index .title-block .title {
  font-size: 2.5rem;
}

.post-index .title-block .key-img {
  position: relative;
  left: 10px;
  width: 25px;
}

/*//
//  index
// ---------------------------*/

.post-index .index {
  width: 80%;
  margin: 0 auto;
}

.post-index .index .bath .list {
  border: 1px solid #222;
  border-radius: 20px;
  padding: 20px;
  background: white;
  position: relative;
}

.post-index .index .bath .list:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .post-index .index .bath .list {
    padding: 10px;
  }
}

.post-index .index .bath .list .title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.post-index .index .bath .list .dlt-post {
  position: absolute;
  right: 30px;
  top: 20px;
}

@media screen and (max-width: 599px) {
  .post-index .index .bath .list .dlt-post {
    right: -10px;
    top: -10px;
  }
}

.post-index .index .bath .list .dlt-post-img {
  width: 25px;
}

.post-index .index .desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .post-index .index .desc {
    flex-direction: column;
  }
}

.post-index .index .desc .info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .post-index .index .desc .info {
    flex-direction: initial;
    width: 90%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 599px) {
  .post-index .index .desc .info {
    flex-direction: column;
  }
}

.post-index .index .desc .bath-img {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .post-index .index .desc .bath-img {
    width: 30%;
  }
}

@media screen and (max-width: 599px) {
  .post-index .index .desc .bath-img {
    width: 90%;
    align-items: flex-start;
  }
}

.post-index .index .desc .main-img {
  width: 80%;
  margin-right: 10px;
}

.post-index .index .desc .sub-imgs {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-index .index .desc .sub-imgs .sub-img {
  height: 30%;
}

@media screen and (max-width: 599px) {
  .post-index .index .desc .sub-imgs .sub-img {
    width: 100%;
  }

  .post-index .index .desc .sub-imgs .sub-img:not(:last-child) {
    margin-bottom: 5px;
  }
}

.post-index .index .desc .review {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .post-index .index .desc .review {
    width: 90%;
  }
}

.post-index .index .desc .review .thoughts {
  text-align: left;
  font-size: 2rem;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  padding: 10px;
  background: #e9e9e9;
}

@media screen and (max-width: 760px) {
  .post-index .index .desc .review .thoughts {
    font-size: 1.5rem;
  }
}

.post-index .index .desc .review-num {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .post-index .index .desc .review-num {
    width: 60%;
  }
}

@media screen and (max-width: 760px) {
  .post-index .index .desc .review-num {
    flex-wrap: wrap;
    width: 100%;
  }
}

@media screen and (max-width: 599px) {
  .post-index .index .desc .review-num {
    justify-content: center;
  }
}

.post-index .index .desc .review-num li:first-child {
  font-size: 6rem;
  width: 30%;
}

.post-index .index .desc .review-num li:first-child:after {
  content: "-\7DCF\5408\8A55\4FA1-";
  display: block;
  font-size: 1.2rem;
  white-space: nowrap;
}

@media screen and (max-width: 760px) {
  .post-index .index .desc .review-num li:first-child {
    width: 50%;
  }
}

@media screen and (max-width: 599px) {
  .post-index .index .desc .review-num li:first-child {
    width: 100%;
    font-size: 5rem;
  }
}

.post-index .index .desc .review-num li:not(:first-child) {
  width: 50%;
  font-size: 4rem;
}

.post-index .index .desc .review-num li:not(:first-child):after {
  display: block;
  font-size: 1.2rem;
  white-space: nowrap;
}

.post-index .index .desc .review-num li:not(:first-child):nth-child(2):after {
  content: "-\304A\6E6F\8A55\4FA1-";
}

.post-index .index .desc .review-num li:not(:first-child):nth-child(3):after {
  content: "-\5CA9\76E4\6D74\8A55\4FA1-";
}

.post-index .index .desc .review-num li:not(:first-child):nth-child(4):after {
  content: "-\30B5\30A6\30CA\8A55\4FA1-";
}

@media screen and (max-width: 599px) {
  .post-index .index .desc .review-num li:not(:first-child) {
    width: 33%;
    font-size: 3rem;
  }
}

.post-index .index .post-time {
  font-size: 1.4rem;
  color: #6c7a89;
}

.post-index .index .select-order .select {
  margin-bottom: 20px;
  width: 30%;
  padding: 10px;
  display: block;
  margin-left: auto;
  font-size: 1.6rem;
}

@media screen and (max-width: 1024px) {
  .post-index .index .select-order .select {
    width: 50%;
  }
}

@media screen and (max-width: 599px) {
  .post-index .index .select-order .select {
    width: 100%;
  }
}

/*// ==========================================================================
//  お風呂検索
// ==========================================================================*/

.bath-search .search-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/*// -----------------------------------------------------------------
//  form-block 検索ブロック
// -----------------------------------------------------------------*/

.bath-search .main-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.bath-search .form-block {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 150px;
}

@media screen and (max-width: 1024px) {
  .bath-search .form-block {
    width: 100%;
  }
}

.bath-search .form-block .prefecture-keyword {
  display: flex;
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .bath-search .form-block .prefecture-keyword {
    flex-direction: column;
  }
}

.bath-search .form-block .prefecture {
  width: 50%;
}

@media screen and (max-width: 760px) {
  .bath-search .form-block .prefecture {
    width: 100%;
  }
}

.bath-search .form-block .keyword {
  width: 50%;
}

@media screen and (max-width: 760px) {
  .bath-search .form-block .keyword {
    width: 100%;
  }
}

.bath-search .form-block .eval-select {
  margin-bottom: 30px;
}

.bath-search .form-block .eval-select .eval-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bath-search .form-block .eval-select .eval-block:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 760px) {
  .bath-search .form-block .eval-select .eval-block {
    flex-wrap: wrap;
  }
}

.bath-search .form-block .eval-select .select-form-title {
  font-size: 1.5rem;
  width: 20%;
}

@media screen and (max-width: 760px) {
  .bath-search .form-block .eval-select .select-form-title {
    width: 100%;
    text-align: left;
  }
}

.bath-search .form-block .eval {
  width: 20%;
}

@media screen and (max-width: 760px) {
  .bath-search .form-block .eval {
    width: 40%;
  }
}

.bath-search .form-block .main-submit-btn:after {
  content: "\691C\7D22\3059\308B";
}

/*// ==========================================================================
//  お風呂一覧（お気に入りお風呂一覧 / 検索結果お風呂一覧）
// ==========================================================================*/

.bath-index .list {
  border-radius: 10px;
  border: 6px solid #dceaea;
  padding: 20px;
  background: url(/images/bath-mark-orange-thin.svg?266c6073eb4fbca7b4dd7f2d6b7021b8);
  background-size: 100% 100%;
  background-position: center;
}

.bath-index .list:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .bath-index .list {
    padding: 10px;
  }
}

.bath-index .bath-num {
  text-align: right;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.bath-index .list .title-block {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.bath-index .list .title-block .title {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.bath-index .list .title-block .title:before,
.bath-index .list .title-block .title:after {
  content: "";
  background: url(/images/bath-icon-no-circle.svg?a55113ce8df1ed8394e29c0228521637);
  width: 20px;
  height: 20px;
  display: block;
}

.bath-index .list .title-block .title:before {
  margin-right: 5px;
}

.bath-index .list .title-block .title:after {
  margin-left: 5px;
}

.bath-index .list .title-block .star-icon {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  right: 0;
  width: 26px;
}

@media screen and (max-width: 599px) {
  .bath-index .list .title-block .star-icon {
    right: -25px;
    top: -13px;
  }
}

.bath-index .list .mark-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.bath-index .list .mark-block .review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .bath-index .list .mark-block .review {
    width: 80%;
  }
}

@media screen and (max-width: 760px) {
  .bath-index .list .mark-block .review {
    justify-content: space-around;
    width: 100%;
    flex-direction: column;
  }
}

.bath-index .list .mark-block .review .whole-review {
  font-size: 60px;
}

.bath-index .list .mark-block .review .whole-review:after {
  content: "-\7DCF\5408\8A55\4FA1-";
  display: block;
  font-size: 1.2rem;
}

.bath-index .list .mark-block .review .others-review {
  display: flex;
  justify-content: space-between;
  width: 70%;
  font-size: 4rem;
}

@media screen and (max-width: 760px) {
  .bath-index .list .mark-block .review .others-review {
    width: 100%;
    justify-content: space-around;
  }
}

.bath-index .list .mark-block .review .others-review li:after {
  display: block;
  font-size: 1.2rem;
}

.bath-index .list .mark-block .review .others-review li:nth-child(1):after {
  content: "-\304A\6E6F\8A55\4FA1-";
}

.bath-index .list .mark-block .review .others-review li:nth-child(2):after {
  content: "-\5CA9\76E4\6D74\8A55\4FA1-";
}

.bath-index .list .mark-block .review .others-review li:nth-child(3):after {
  content: "-\30B5\30A6\30CA\8A55\4FA1-";
}

.bath-index .list .mark-block .mark {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.bath-index .list .text-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 760px) {
  .bath-index .list .text-info {
    flex-wrap: wrap;
  }
}

.bath-index .list .text-info .place {
  display: flex;
}

.bath-index .list .text-info .place:before {
  content: "";
  background-image: url(/images/location.svg?a323f55b3eeff1d64b020c72c596d98d);
  width: 20px;
  margin-right: 5px;
}

@media screen and (max-width: 760px) {
  .bath-index .list .text-info .place {
    width: 50%;
    justify-content: center;
  }
}

.bath-index .list .text-info .closing-day {
  position: relative;
}

.bath-index .list .text-info .closing-day:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 50px;
  height: 50px;
  background: url(/images/calender.png?809f6963f038ed6b9e34a4db29403ad1);
}

.bath-index .list .text-info .closing-day:before {
  opacity: 0.1;
}

@media screen and (max-width: 760px) {
  .bath-index .list .text-info .closing-day {
    width: 50%;
  }
}

@media screen and (max-width: 760px) {
  .bath-index .list .text-info .time {
    margin-top: 20px;
  }
}

.bath-index .list .link-block .post-link {
  font-size: 1.5rem;
  color: #7edbe6;
  text-decoration: underline;
}

.bath-index .list .link-block .post-link:hover {
  text-decoration: none;
}

.bath-index .no-result {
  font-size: 1.8rem;
  color: red;
}

/*// ==========================================================================
//  ヘッダー
// ==========================================================================*/

.header {
  font-size: 1.8rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 20px 40px;
}

@media screen and (max-width: 760px) {
  .header {
    padding: 20px;
  }
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header .logo {
  width: 100px;
}

/*// -----------------------------------------------------------------
//  nav
// -----------------------------------------------------------------*/

@media screen and (max-width: 760px) {
  .header .burger-icon {
    width: 60px;
  }
}

.header .nav {
  width: 100vw;
  position: absolute;
  top: -100vh;
  left: 0;
  height: 50vh;
  background-color: #dceaea;
  transition: all 0.5s ease-in-out;
}

.header .nav:after {
  content: "";
  display: block;
  background: #dceaea;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
  z-index: -1;
}

@media screen and (max-width: 1024px) {
  .header .nav {
    height: 80vh;
  }
}

.nav-is-open {
  top: 0 !important;
}

.header .nav .nav-container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  .header .nav .nav-container {
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 30px;
  }
}

.header .nav .link:not(:last-child) {
  margin-right: 30px;
}

@media screen and (max-width: 1024px) {
  .header .nav .link:not(:last-child) {
    margin-right: 0;
  }
}

.header .nav .link {
  position: relative;
  display: flex;
  align-items: center;
  text-shadow: 2px 2px 1px #ffffff;
}

.header .nav .link.register-link,
.header .nav .link.login-link {
  font-size: 3rem;
}

@media screen and (max-width: 760px) {
  .header .nav .link.register-link,
  .header .nav .link.login-link {
    font-size: 2rem;
  }
}

.header .nav .link.register-link {
  background: url(/images/new-icon.svg?93dee6121ac03cec0fbb1c3cbbfe79dd);
  background-size: 100% 100%;
  height: 25%;
}

@media screen and (max-width: 1024px) {
  .header .nav .link.register-link {
    height: 15%;
  }
}

@media screen and (max-width: 760px) {
  .header .nav .link.register-link {
    height: 10%;
  }
}

.header .nav .link.login-link {
  position: relative;
  height: 25%;
}

.header .nav .link.login-link:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 64px;
  height: 64px;
  background: url(/images/user-icon.svg?f7fab244cf88fbf83d472c395c98168e);
}

.header .nav .link.login-link:before {
  opacity: 0.3;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .header .nav .link.login-link {
    height: 15%;
  }
}

.header .nav .link .text {
  position: relative;
  /* 背景画像バックにするため */
  z-index: 2;
}

.header .nav .batsu-icon {
  width: 50px;
  position: absolute;
  bottom: -25px;
  z-index: 2;
}

/*// ==========================================================================
//  フッター
// ==========================================================================*/

.footer {
  width: 100%;
  background-color: #dfdfdf;
  position: absolute;
  bottom: 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  padding: 10px;
}

.footer .logo {
  width: 100px;
  display: block;
  margin-left: auto;
}

.footer .copy-right {
  text-align: center;
  display: block;
}

/*// ==========================================================================
//  ポップアップ
// ==========================================================================*/

.popup {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.popup.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup .content {
  background: #fff;
  padding: 30px;
  width: 50%;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .popup .content {
    width: 80%;
  }
}

.popup .title {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 760px) {
  .popup .title {
    font-size: 2rem;
  }
}

.popup .text {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .popup .text {
    font-size: 1.5rem;
  }
}

.popup .content .list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .popup .content .list {
    flex-direction: column;
  }
}

.popup .content label {
  font-size: 1.6rem;
  width: 20%;
}

@media screen and (max-width: 760px) {
  .popup .content label {
    width: 100%;
  }
}

.popup .content .input {
  width: 70%;
  padding: 10px;
}

@media screen and (max-width: 760px) {
  .popup .content .input {
    width: 100%;
  }
}

.popup .content .btn {
  padding: 12px 30px;
  width: 25%;
}

.popup .btn.close:after {
  content: "\9589\3058\308B";
}

.sns-update-profile .btn:after {
  content: "\767B\9332\3059\308B";
}

.popup-delete .btn.dlt:after {
  content: "\524A\9664";
}

.topost-popup .btn.update:after {
  content: "\66F4\65B0\3059\308B";
}

.popup-delete .btn.close,
.topost-popup .btn.close {
  margin-top: 8px;
}

/*// ==========================================================================
//  画像選択フィールド
// ==========================================================================*/

.choose-img .img-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose-img .img-label {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 4px solid #dfdfdf;
  border-radius: 10px;
  position: relative;
  display: block;
}

.choose-img .img-label:hover:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "\753B\50CF\3092\9078\629E\3057\3066\304F\3060\3055\3044";
  font-size: 1.8rem;
  display: block;
  width: 50%;
}

.choose-img .img-label .file {
  display: none;
}

.choose-img .img-label .preview-img {
  width: 90%;
}

.choose-img .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose-img .dlt-img {
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: #dfdfdf;
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.choose-img .dlt-img:hover {
  background-color: red;
  color: white;
}

