@charset "UTF-8";

/*// ==========================================================================
//  TOPページ
// ==========================================================================*/

.top-page .container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.top-page .main-text,
.top-page .main-title {
  margin-bottom: 20px;
}

/*
  @mixin & @extend
---------------------------------------------------- */

/*
  変数定義
---------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}

.form .error {
  color: red;
}

html {
  font-size: 62.5%;
}

