@charset "UTF-8";

/*// ==========================================================================
//  TOPページ
// ==========================================================================*/

.top-page .first-view {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.top-page .main-text,
.top-page .main-title {
  margin-bottom: 20px;
}

/*
  @mixin & @extend
---------------------------------------------------- */

/*
  変数定義
---------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  font-family: "Wawati SC", "\30D2\30E9\30AE\30CE\89D2\30B4\30B7\30C3\30AF", "Hiragino Sans", "Yu Gothic UI", sans-serif;
}

.form .error {
  color: red;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 7rem;
}

/*// ==========================================================================
//  ヘッダー
// ==========================================================================*/

.header {
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header .nav {
  display: flex;
}

.header .nav .link:not(:last-child) {
  margin-right: 10px;
}

.header .nav .link {
  position: relative;
}

.header .nav .link .text {
  position: relative;
  /* 背景画像バックにするため */
  z-index: 2;
}

.header .nav .link .nav-bg {
  position: absolute;
  left: 20%;
  transform: translate(-50%, -50%);
  opacity: 0.4;
  transform: rotate(15deg);
}

