/*// ==========================================================================
//  投稿一覧
// ==========================================================================*/

.post-index {
    text-align: center;
}

/*//
//  title-block
// ---------------------------*/

.post-index .title-block {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
}

.post-index .title-block .title {
    font-size: 2.5rem;
}

.post-index .title-block .key-img {
    @include centered_vertically;
    position: absolute;
    right: 40%;
    width: 25px;
}

/*//
//  index
// ---------------------------*/

.post-index .index {
    width: 80%;
    margin: 0 auto;
}

.post-index .index .bath .list {
    border: 1px solid #222;
    border-radius: 20px;
    padding: 10px;
    background: white;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.post-index .index .bath .list .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.post-index .index .bath .list .dlt-post {
    position: absolute;
    right: 30px;
    top: 20px;
}

.post-index .index .bath .list .dlt-post-img {
    width: 25px;
    &:hover {
        width: 30px;
    }
}

.post-index .index .desc {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.post-index .index .desc .info {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.post-index .index .desc .bath-img {
    display: flex;
    justify-content: center;
}

.post-index .index .desc .main-img {
    width: 250px;
    height: 200px;
    margin-right: 10px;
}

.post-index .index .desc .sub-imgs {
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post-index .index .desc .sub-img {
    height: 50px;
}

.post-index .index .desc .review {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.post-index .index .desc .review .thoughts {
    text-align: left;
    font-size: 2.0rem;
}

.post-index .index .desc .review-num {
    display: flex;
    align-items: center;
}
.post-index .index .desc .review-num li {
    &:first-child {
        font-size: 6.0rem;
        width: 30%;
        &:after {
            content: '-総合評価-';
            display: block;
            font-size: 1.2rem;
        }
    }

    &:not(:first-child) {
        width: 50%;
        font-size: 4.0rem;
        &:after {
            display: block;
            font-size: 1.2rem;
        }
        &:nth-child(2) {
            &:after {
                content: '-お湯評価-';
            }
        }
        &:nth-child(3) {
            &:after {
                content: '-岩盤浴評価-';
            }
        }
        &:nth-child(4) {
            &:after {
                content: '-サウナ評価-';
            }
        }
    }
}

.post-index .index .post-time {
    font-size: 1.4rem;
    color: rgba(108, 122, 137, 1);
}
