/*// ==========================================================================
//  投稿フォーム
// ==========================================================================*/

.post-form {
    width: 50%;
    margin: 0 auto;
}
.post-form .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.post-form .form {
    display: flex;
    flex-direction: column;
}
.post-form .list {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-of-type {
        margin-bottom: 50px;
    }
}

.post-form .list .field {
    width: 70%;
    padding: 10px;
    padding: 10px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wide-field {
    min-width: 70%;
    max-width: 70%;
    min-height: 80px;
}

.post-form .list .field-name {
    font-size: 1.5rem;
    display: inline-block;
    width: 25%;
}

.post-form .list .eval {
    width: 16%;
    padding: 10px;
}

.post-form .btn {
    width: 20%;
    margin: 0 auto;
    padding: 10px;
}
