/*// ==========================================================================
//  投稿フォーム
// ==========================================================================*/

.post-form {
    width: 60%;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
        width: 80%;
    }
}
.post-form .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.post-form .form {
    display: flex;
    flex-direction: column;
}
.post-form .list {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-of-type {
        margin-bottom: 50px;
    }
    @media screen and (max-width: 760px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.post-form .choose-img .img-field {
    width: 80%;
    @media screen and (max-width: 760px) {
        width: 100%;
    }
}

.post-form .list .field {
    width: 80%;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 760px) {
        width: 100%;
    }
}

.post-form .list .wide-field {
    min-width: 80%;
    max-width: 80%;
    min-height: 80px;
    @media screen and (max-width: 760px) {
        min-width: 100%;
        max-width: 100%;
    }
}

.post-form .list .field-name {
    font-size: 1.5rem;
    display: inline-block;
    width: 20%;
    @media screen and (max-width: 760px) {
        width: 100%;
    }
}

.post-form .list .select-area {
    width: 80%;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 760px) {
        width: 100%;
    }
    @media screen and (max-width: 599px) {
        flex-wrap: wrap;
        height: 150px;
    }
}

.post-form .list .eval {
    width: 22%;
    @media screen and (max-width: 599px) {
        width: 45%;
    }
}

.post-form .btn { &:after { content: '登録する'; }}
