/*// ==========================================================================
//  お風呂検索
// ==========================================================================*/

.bath-search .search-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/*// -----------------------------------------------------------------
//  form-block 検索ブロック
// -----------------------------------------------------------------*/

.bath-search .main-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.bath-search .form-block {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 150px;
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

.bath-search .form-block .prefecture-keyword {
    display: flex;
    margin-bottom: 20px;
    @media screen and (max-width: 760px) {
        flex-direction: column;
    }
}
.bath-search .form-block .prefecture {
    width: 50%;
    @media screen and (max-width: 760px) {
        width: 100%;
    }
}
.bath-search .form-block .keyword {
    width: 50%;
    @media screen and (max-width: 760px) {
        width: 100%;
    }
}

.bath-search .form-block .eval-select {
    margin-bottom: 30px;
}
.bath-search .form-block .eval-select .eval-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
    @media screen and (max-width: 760px) {
        flex-wrap: wrap;
    }
}
.bath-search .form-block .eval-select .select-form-title {
    font-size: 1.5rem;
    width: 20%;
    @media screen and (max-width: 760px) {
        width: 100%;
        text-align: left;
    }
}
.bath-search .form-block .eval {
    width: 20%;
    @media screen and (max-width: 760px) {
        width: 40%;
    }
}

.bath-search .form-block .main-submit-btn { &:after { content: '検索する'; }}

/*// -----------------------------------------------------------------
//  search-result 検索結果ブロック
// -----------------------------------------------------------------*/

.bath-search .search-result .list {
    border-radius: 10px;
    border: 1px solid #222;
    padding: 20px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.bath-search .search-result .bath-num {
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.bath-search .search-result .list .title-block {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.bath-search .search-result .list .title-block .title {
    font-size: 1.8rem;
}

.bath-search .search-result .list .title-block .star-icon {
    @include centered_vertically;
    position: absolute;
    right: 0;
    width: 26px;
}

.bath-search .search-result .list .mark-block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.bath-search .search-result .list .mark-block .review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.bath-search .search-result .list .mark-block .review .whole-review {
    font-size: 60px;

    &:after {
        content: '-総合評価-';
        display: block;
        font-size: 1.2rem;
    }
}

.bath-search .search-result .list .mark-block .review .others-review {
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-size: 4.0rem;
}

.bath-search .search-result .list .mark-block .review .others-review li {
    &:after {
        display: block;
        font-size: 1.2rem;
    }
    &:nth-child(1) {
        &:after {
            content: '-お湯評価-';
        }
    }
    &:nth-child(2) {
        &:after {
            content: '-岩盤浴評価-';
        }
    }
    &:nth-child(3) {
        &:after {
            content: '-サウナ評価-';
        }
    }
}

.bath-search .search-result .list .mark-block .mark {
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.bath-search .search-result .list .text-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    margin-bottom: 30px;
}

.bath-search .search-result .list .link-block .post-link {
    font-size: 1.5rem;
    color: #7EDBE6;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.bath-search .search-result .no-result {
    font-size: 1.8rem;
    color: red;
}
