/*// ==========================================================================
//  メール送信後画面
// ==========================================================================*/

.check-email {
    text-align: center;
}

.check-email .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.check-email .text {
    font-size: 1.5rem;
}
