/*// ==========================================================================
//  お気に入り
// ==========================================================================*/

.favorite .no-favorited {
    text-align: center;
    font-size: 1.8rem;
}

.favorite {
    width: 80%;
    margin: 0 auto;
}

/*// -----------------------------------------------------------------
//  favorite お気に入り一覧 お風呂
// -----------------------------------------------------------------*/

.favorite .bath .list .text-info .closing-day {
    text-align: center; // favoriteのみ
}
