/*// ==========================================================================
//  ログイン
// ==========================================================================*/

.login {
    width: 50%;
    margin: 0 auto;
}
.login .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.login .form {
    display: flex;
    flex-direction: column;
}
.login .list {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.login .list label {
    font-size: 1.4rem;
    display: inline-block;
}
.login .list .input {
    width: 70%;
    padding: 10px;
}
.login .password {
    margin-bottom: 50px;
}
.login .btn {
    width: 20%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
}
.login .sns {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .sns .google {
    margin-bottom: 10px;
}
