/*// ==========================================================================
//  ログイン
// ==========================================================================*/

.login .sns {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .sns .google {
    margin-bottom: 10px;
}
