/*// ==========================================================================
//  ユーザーフォーム（ログイン/ 新規登録 / ユーザー情報変更 / パスワード変更 / メールアドレス変更）
// ==========================================================================*/

.user-form {
    width: 50%;
    margin: 0 auto;
    @media screen and (max-width: 1024px) {
        width: 80%;
    }
    @media screen and (min-width: 599px) {
        @include center_of_vertically_and_horizontally;
    }
}
.user-form .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.user-form .form {
    display: flex;
    flex-direction: column;
}
.user-form .list {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:last-of-type {
        margin-bottom: 50px;
    }
    @media screen and (max-width: 599px) {
        flex-direction: column;
    }
}

.user-form .list .field-name {
    font-size: 1.4rem;
    display: inline-block;
    width: 25%;
    @media screen and (max-width: 599px) {
        width: 100%;
    }
}
.user-form .list .field {
    width: 70%;
    padding: 14px;
    @media screen and (max-width: 599px) {
        width: 100%;
    }
}

.user-form .list .select {
    width: 70%;
    padding: 10px;
}

.user-form .btn {
    width: 250px;
    padding: 12px 60px;
    margin: 0 auto;
}
.user-form.register .btn { &:after { content: '登録する'; }}
.user-form.login .btn { &:after { content: 'ログイン'; }}
.user-form.user-edit .btn { &:after { content: '登録する'; }}
.user-form.change-password .btn { &:after { content: '変更する'; }}
.user-form.change-email .btn { &:after { content: '変更する'; }}

.user-form .other-links {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin-top: 50px;
}

.user-form .other-links .link {
    color: #7edbe6;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
