/*// ==========================================================================
//  ユーザーフォーム（ログイン/ 新規登録 / ユーザー情報変更 / パスワード変更 / メールアドレス変更）
// ==========================================================================*/

.user-form {
    width: 50%;
    margin: 0 auto;
}
.user-form .title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.user-form .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.user-form .list {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-form .list label {
    font-size: 1.4rem;
    display: inline-block;
    width: 25%;
}
.user-form .list .input,
.user-form .list .select {
    width: 70%;
    padding: 10px;
}

.user-form .password-confirm {
    margin-bottom: 50px;
}

.user-form .btn {
    width: 20%;
    margin: 0 auto;
    padding: 10px;
}

.user-form .other-links {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}

.user-form .other-links .link {
    color: #7edbe6;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
