/*// ==========================================================================
//  フッター
// ==========================================================================*/

.footer {
    width: 100%;
    background-color: #dfdfdf;
    position: absolute;
    bottom: 0;
}

.footer .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    padding: 10px;
    // @media screen and (max-width: 760px) {
    //     height: 120px; /* 謎の余白ができるためfooterで埋める */
    // }
}

.footer .logo {
    width: 100px;
    display: block;
    margin-left: auto;
}

.footer .link-block {
    display: block;
    text-align: center;
}

.footer .link-block .privacy {
    font-size: 1.4rem;
}

.footer .copy-right {
    font-size: 1.2rem;
    text-align: center;
    display: block;
}