/*// ==========================================================================
//  フッター
// ==========================================================================*/


.footer {
    height: 100px;
    background-color: #dfdfdf;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .logo {
    width: 100px;
    display: block;
    margin-left: auto;
}

.footer .copy-right {
    text-align: center;
    display: block;
}