/*// ==========================================================================
//  ヘッダー
// ==========================================================================*/

.header{
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header .nav { display: flex; }

.header .nav .link:not(:last-child) {
    margin-right: 10px;
}

.header .nav .link {
    position: relative;
}

.header .nav .link .text {
    position: relative; /* 背景画像バックにするため */
    z-index: 2;
}

.header .nav .link .nav-bg {
    position: absolute;
    left: 20%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
    transform: rotate(15deg);
}
