/*// ==========================================================================
//  ヘッダー
// ==========================================================================*/

.header{
    font-size: 1.8rem;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
}

.header .logo {
    width: 100px;
}

.header .nav {
    display: flex;
    height: 100%;
    align-items: center;
}

.header .nav .link:not(:last-child) {
    margin-right: 10px;
}

.header .nav .link {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

.header .nav .link .text {
    position: relative; /* 背景画像バックにするため */
    z-index: 2;
}

.header .nav .link .nav-bg {
    position: absolute;
    left: 20%;
    transform: rotate(15deg);
    transition: 0.5s;
}

.square-hover {
    transform: rotate(-30deg) !important;
}
