/*// ==========================================================================
//  TOPページ
// ==========================================================================*/

/*// -----------------------------------------------------------------
//  first-block
// -----------------------------------------------------------------*/

.top-page {
    position: relative;
    margin-top: -120px; /* body .main のpaddingと同等に */
    margin-bottom: -80px; /* body .main のpaddingと同等に */
    height: 100vh;
    background-image: url('img/OFLog-top-bg-woman.jpg');
    background-size: cover;
    background-position: 70% 50%;
}

.top-page .top-container {
    width: 80%;
    margin: 0 auto;
}

.top-page .first-view {
    color: #ffffff;
    text-align: center;
    height: 100vh;
}

.top-page .first-view .title-block {
    position: absolute;
    top: 280px;
    left: 20%;
    @media screen and (max-width: 1024px) {
        top: 50%;
        left: 14%;
    }
    @media screen and (max-width: 760px) {
        left: 1%;
        top: 40%;
        width: 100%;
    }
}

.top-page .first-view .title-block .logo {
    @media screen and (max-width: 1024px) {
        width: 200px;
    }
}
.top-page .first-view .btn-block {
    position: absolute;
    top: 520px;
    left: 20%;  /* title-blockと揃える */
    display: flex;
    justify-content: space-around;
    width: 420px;  /* title-blockと揃える */
    @media screen and (max-width: 1024px) {
        top: 75%;
        left: 14%; /* title-blockと揃える */
        width: 350px;  /* title-blockと揃える */
    }
    @media screen and (max-width: 760px) {
        width: 100%;
        left: 1%;
        top: 70%;
    }
}

.top-page .main-text {
    font-size: 3.0rem;
    margin-bottom: 30px;
    @media screen and (max-width: 1024px) {
        font-size: 2.5rem;
    }
    @media screen and (max-width: 760px) {
        font-size: 2.0rem;
    }
}

.top-page .search-btn {
    position: relative;
    width: 150px;
    display: block;
    border-radius: 50%;
    @media screen and (max-width: 1024px) {
        width: 100px;
    }
}

.top-page .search-btn .btn-name {
    @include center_of_vertically_and_horizontally;
    color: #ffffff;
    font-size: 3.0rem;
    white-space: nowrap;
    text-shadow: 3px 3px 1px #000;
    transition: all 0.3s ease-out;
    @media screen and (max-width: 1024px) {
        font-size: 2.0rem;
    }
}

.top-page .search-btn .bath-mark {
    border-radius: 50%;
}
