/*// ==========================================================================
//  TOPページ
// ==========================================================================*/

/*// -----------------------------------------------------------------
//  first-block
// -----------------------------------------------------------------*/

.top-page .container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.top-page .first-view {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.top-page .main-text {
    font-size: 3.0rem;
}

.top-page .search-btn {
    position: relative;
    width: 150px;
    display: block;
    border-radius: 50%;
}

.top-page .search-btn .btn-name {
    @include center_of_vertically_and_horizontally;
    font-size: 3.0rem;
    white-space: nowrap;
}

.top-page .search-btn .bath-mark {
    border-radius: 50%;
}

/*// -----------------------------------------------------------------
//  recommendation
// -----------------------------------------------------------------*/

.top-page .recommendation {
    background: rgb(255, 192, 66);
    border-radius: 20px 20px 5px 5px;
    padding-bottom: 50px;
}

.top-page .recommendation .tab-area {
    font-size: 2.0rem;
    text-align: center;
    border-bottom: 2px solid #222;
    padding: 20px 0;
}

.top-page .recommendation .popular {
    text-align: center;
}

/*//
//  popular
// ---------------------------*/

.top-page .popular {
    width: 80%;
    margin: 0 auto;
}

.top-page .popular .title {
    font-size: 2.0rem;
    margin: 20px 0;
}

.top-page .popular .bath .list {
    border: 1px solid #222;
    border-radius: 20px;
    padding: 10px;
    background: white;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.top-page .popular .desc {
    display: flex;
}

.top-page .popular .desc .bath-img {
    width: 20%;
}

.top-page .popular .desc .review {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.top-page .popular .desc .review-num {
    display: flex;
}
.top-page .popular .desc .review-num .whole-review {
    font-size: 6.0rem;
    width: 30%;

    &:after {
        content: '-総合評価-';
        display: block;
        font-size: 1.2rem;
    }
}
.top-page .popular .desc .review-num .others-review {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 3.0rem;
    width: 70%;
}
.top-page .popular .desc .review-num .others-review li {
    width: 50%;

    &:after {
        display: block;
        font-size: 1.2rem;
    }
    &:nth-child(1) {
        &:after {
            content: '-風呂評価-';
        }
    }
    &:nth-child(2) {
        &:after {
            content: '-館内評価-';
        }
    }
    &:nth-child(3) {
        &:after {
            content: '-岩盤浴評価-';
        }
    }
    &:nth-child(4) {
        &:after {
            content: '-サウナ評価-';
        }
    }
}

.top-page .popular .prefecture {
    font-size: 2.0rem;
}
