/*// ==========================================================================
//  TOPページ
// ==========================================================================*/

/*// -----------------------------------------------------------------
//  first-block
// -----------------------------------------------------------------*/

.top-page {
    position: relative;
    top: -120px; /* body .container のpadding-bottomと同等にして、上下中央揃え */
}

.top-page .top-container {
    width: 80%;
    margin: 0 auto;
}

.top-page .first-view {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.top-page .main-text {
    font-size: 3.0rem;
    margin-bottom: 30px;
}

.top-page .search-btn {
    position: relative;
    width: 150px;
    display: block;
    border-radius: 50%;
}

.top-page .search-btn .btn-name {
    @include center_of_vertically_and_horizontally;
    font-size: 3.0rem;
    white-space: nowrap;
}

.top-page .search-btn .bath-mark {
    border-radius: 50%;
}
