/*// ==========================================================================
//  TOPページ
// ==========================================================================*/

.top-page .container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.top-page .main-text,
.top-page .main-title {
    margin-bottom: 20px;
}
