/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/.htaccess
/storage/*.key
/vendor
../vendor/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/logs
/config/app.php
/config/services.php
